/*-----------------Carousel------------*/
.hero {
    display: flex;
    margin: 2% 0;
    padding: 0 2rem;
}
.carouselButton {
    background-color: #313733;
    border: none;
    border-radius: 600px;
    padding: 5px;
    transition: background-color 0.25s ease-in-out;
    max-height: 50px;
    align-self: center;
}
.carouselButton:hover {
   background-color: var(--midGreen);
}
.carouselCard {
    display: none;
}
.carouselCard.active {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.hero p {
    color: var(--offWhite);
    font-size: 120%;
}
#heroData {
    border-top: 2px dotted var(--offWhite);
}

.heroIMG {
    position: relative;
    display: inline-block;
}
.heroIMG::after{
    box-shadow: inset 6px 0px 6px rgba(0, 0, 0, 0.25);
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
}
.carouselTrack {
    border-radius: 20px;
    overflow: hidden;
}
#heroCard {
    background-color: var(--teracotta);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#heroCard h3{
    font-family: var(--accentFont);
    color: var(--offWhite);
    font-weight: 300;
    font-size: 2.5rem;
}
#counterHero {
    font-family: var(--bodyFont);
    color: var(--teracotta);
    font-weight: 700;
    text-decoration: underline;
}
/*----------------------About Me-------------------------*/
#aboutMe {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: var(--offWhite);
    padding: 1rem 0;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
}

.textBox p, ul {
    color: var(--darkGreen);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--bodyFont);
}

.changingImage {
    background-image: URL(../assets/photoFrameDefault.png);
    position: relative;
    border-radius: 600px;
    border: none;
    overflow: hidden;
    width: 300px;
    height: 630px;
    background-position: center;
}

.changingImage::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
    background-image: URL(../assets/photoFrameHover.png);
}

.changingImage:hover::before{
    opacity: 1;
}

.aboutDetails {
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--midGreen);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.iconHolder ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* --------------Projects------------- */
#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.projectGrid {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.reverse {
    flex-direction: row-reverse;
}
.projectCard {
    background-color: var(--darkGreen);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--offWhite);
    padding: 4rem;
}

.projectCard h3{
    font-family: var(--accentFont);
    font-size:4rem;
    font-weight:400;
    margin:0;
    line-height:1;
}

.projectcard h4{
    font-size:2rem;
    font-weight:300;
    margin:1rem 0 2rem 0;
}

.projectCard p{
    font-size:1.2rem;
    line-height:1.6;
    max-width:500px;
    margin:0 0 3rem 0;
}

.projectCard .button{
    margin-top:1rem;
    padding:1rem 2rem;
    font-size:1.2rem;
}
.projectGridIMG {
    width: 50%;
}

.projectGridIMG img {
    width: 100%;
    height: 100%;
}
